[defaults]
host_key_checking = False
log_path = /home/ansible/repositories/network/ansible.log
inventory = /home/ansible/repositories/network/inventory/hosts.yml
callbacks_enabled = timer, profile_tasks, profile_roles
remote_user = auto
# remote_user = ansible